
.wrapper {
    width: 90%;
    max-width: 1536px;
    margin-inline: auto;
    position: relative;
    height: 300px;
    margin-top: 5rem;
    overflow: hidden;
  
  }

  @keyframes scrollLeft {
    to {
      left: -300px;
    }
  }

  .service {
    border-radius: 6px;
    position: absolute;
    left: max(calc(200px * 5), 100%);
    animation-name: scrollLeft;
    animation-duration: 20s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
  }

  .service0 {
    animation-delay: calc(20s / 5 * (5 - 1) * -1);
  }
  
  .service1 {
    animation-delay: calc(20s / 5 * (5 - 2) * -1);
  }
  
  .service2 {
    animation-delay: calc(20s / 5 * (5 - 3) * -1);
  }
  
  .service3 {
    animation-delay: calc(20s / 5 * (5 - 4) * -1);
  }
  
  .service4 {
    animation-delay: calc(20s / 5 * (5 - 5) * -1);
  }
  
  .wrapper:hover .service {
    animation-play-state: paused;
} 