@import './../../constants/colors';

.register-container {
	border: 1px solid var(--gray-color);
	padding: 15px 20px;
	width: 25vw;
}

.primary-color {
	color: var(--primary-color);
}

input, button{
	width: 100%
}

.register-btn{
	background-color: var(--primary-color);

}

