@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Open+Sans:wght@400;600;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	font-family: 'Inter', sans-serif;
    overflow-x: hidden;
}

h5,
p,
span {
	font-size: 14px;
}

.small-text {
	font-size: 10px;
}

.app-container {
	position: relative;
}

.sidebar-container{
    position: fixed;
    top: 50vh;
    left: 10px;
    transform: translateY(-50%);
}
