.right-container{
    width: 58vw;
    border: 1px solid rgb(155, 154, 154);
}

.left-vertical{
    border-left: 1px solid rgb(204, 203, 203);
}

.right-vertical{
    border-right: 1px solid rgb(204, 203, 203);
}

.bottom-horizontal{
    border-bottom: 1px solid rgb(204, 203, 203);
}

.rounded-customized-gray{
    border: 1px solid rgb(155, 154, 154);
}

.update-btn{
    padding: 8px;
    width: 35%;
}

.cancel-btn, .updated-btn{
    width: 30%;
    padding: 8px;
}

.update-input{
    border-bottom: 1px solid rgb(204, 203, 203);
    font-size: 12px;
}

.update-input:focus{
    outline: none;
    border-bottom: 1px solid rgb(204, 203, 203);
}

.customized-width{
    width: 38vw;
}