.fc .fc-toolbar {
	color: #fb7f0c;
	z-index: 50;
	font-weight: bold;
}

.fc .fc-event {
	background-color: #fb7f0c;
	color: white;
	border: none;
}

.fc .fc-event:hover {
	background-color: #ffa04d;
	cursor: pointer;
}

.fc .fc-day-today {
	background-color: #ffd9b3;
}

.fc .fc-button {
	background-color: #fb7f0c;
	color: white;
	border: none;
}

.fc .fc-button:hover {
	background-color: #ffa04d;
	color: white;
}

.fc .fc-daygrid-day-number {
	color: #fb7f0c;
}

.fc .fc-scrollgrid-section {
	border-color: #fb7f0c;
}

.fc-daygrid-day-frame {
	height: 100px;
}

.fc-day-today .fc-daygrid-day-number {
	background-color: #fb7f0c;
	color: white;
	border-radius: 50%;
	width: 30px;
	height: 30px;
	line-height: 30px;
	text-align: center;
	font-weight: bold;
	margin: auto;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 5px;
}

.fc-daygrid-day-top {
	display: flex;
	justify-content: center;
	align-items: center;
}

input[type='checkbox'] {
	appearance: none;
	-webkit-appearance: none;
	-moz-appearance: none;
	width: 20px;
	height: 20px;
	background-color: #fff;
	border: 2px solid #000;
	border-radius: 4px;
	display: inline-block;
	position: relative;
	cursor: pointer;
}

input[type='checkbox']:hover {
	border-color: #fb7f0c;
}

input[type='checkbox']:checked {
	background-color: #fb7f0c;
	border-color: #fb7f0c;
}

input[type='checkbox']:checked::after {
	content: '';
	display: block;
	width: 8px;
	height: 14px;
	border: solid white;
	border-width: 0 3px 3px 0;
	transform: rotate(45deg);
	position: absolute;
	left: 5px;
}

.fc .fc-daygrid-day-frame {
	min-height: 150px !important;
}

.fc-event-title {
	max-width: 150px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.fc-daygrid-event-dot {
	border-color: #ffbc00;
}
