@keyframes slide-left {
    from {
      transform: translateX(100%);
      opacity: 0;
    }
    to {
      transform: translateX(0);
      opacity: 1;
    }
  }
  
  @keyframes slide-right {
    from {
      transform: translateX(-100%);
      opacity: 0;
    }
    to {
      transform: translateX(0);
      opacity: 1;
    }
  }
  
  .slide-left {
    animation: slide-left 0.3s ease-in-out forwards;
  }
  
  .slide-right {
    animation: slide-right 0.3s ease-in-out forwards;
  }
  