
.create-forumPost-input {
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 10px;
    font-size: 14px;
}

.btn-submit {
    transition: background-color 0.3s ease;
}

.btn-submit:hover {
    background-color: orangered;
}

.image-preview img {
    border-radius: 8px;
    object-fit: cover;
}
